.search-section {
    background-color: var(--color-bg);
    padding: calc(var(--padding-desktop) - 10px) var(--padding-desktop);
}

.search-container {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    border-radius: 12px;
    overflow: hidden;
}

.search-bar input {
    flex: 1;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-placeholder);
}

.search-bar input::placeholder {
    color: var(--color-placeholder);
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
    border: none;
    padding: 1rem 1.8rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--accent-hover);
}

.filter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
}

.filter {
    flex: 1 1 calc(20% - 10px);
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border: 1px solid #262626;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    color: var(--color-placeholder);
    min-width: 150px;
    position: relative; 
}

.filter i {
    margin-right: 8px;
    font-size: 1rem;
    color: var(--color-placeholder);
}

.filter select {
    flex: 1;
    background: transparent;
    border: none;
    color: var(--color-text); 
    font-size: 0.95rem;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.filter::after {
    content: "\f107";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
    color: var(--color-placeholder);
    pointer-events: none;
}

.filter select option {
    background-color: #1a1a1a;
    color: var(--color-text);
}

.filter:hover {
    border-color: var(--color-primary);
}


@media (max-width: 1024px) {
    .search-section {
        padding: 10px var(--padding-tablet);
    }
}

@media (max-width: 768px) {
    .search-section {
        padding: 10px var(--padding-mobile);
    }

    .search-bar {
        flex-direction: row;
    }

    .search-bar input {
        width: 100%;
        border-radius: 0;
    }

    .search-bar button {
        width: 2%;
    }

    .filter-row {
        flex-direction: column;
    }

    .filter {
        flex: 1 1 100%;
    }
}
